:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --logo-color-text: #000000;
  --background-footer-color: #2f303a;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --contener-color: #eeeeee;
  --line-color: #ececec;
  --main-font: "Roboto", sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-black {
  font-family: "Raleway", sans-serif;
  color: var(--logo-color-text);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  line-height: 1.17;
}

.logo-blue {
  color: var(--acent-color);
}

header {
  border-bottom: 1px solid var(--line-color);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 31px 0;
}

.header:hover,
.header:focus {
  color: var(--acent-color);
}

.current {
  color: var(--acent-color);
}

nav {
  margin-left: 93px;
}

.navi {
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 46px;
}

.contact-first {
  color: var(--ouwer-text-color);
}

.contact-first-flex {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.section-title {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-text-color);
  line-height: 1.5;
  width: 696px;
  margin: 0 auto;
}

.section-first {
  background-color: var(--background-footer-color);
  text-align: center;
}

.button-order {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.button-order:hover,
.button-order:focus {
  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  overflow: hidden;
}

.section-first-conteiner {
  display: flex;
  gap: 30px;
}

.list-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list-text {
  color: var(--ouwer-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-top: 10px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.section-second {
  padding-bottom: 94px;
}

.img-conteiner {
  display: flex;
  gap: 30px;
}

.section-third {
  background-color: var(--buttons-port-color);
}

.title-third {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.position-cointener {
  display: flex;
  gap: 30px;
  align-items: center;
}

.wrap-names {
  padding-top: 30px;
}

.teams-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.teams-position {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
  text-align: center;
  margin-top: 10px;
  padding-bottom: 30px;
}

.section-shadow {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
}

footer {
  background-color: var(--background-footer-color);
  padding: 60px 0;
}

.logo-white {
  font-family: "Raleway";
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  display: flex;
}

.address {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
  display: flex;
}

.contact-second {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--footer-text-color);
  line-height: 1.7;
  font-style: normal;
  display: flex;
}

.contact-second:hover,
.contact-second:focus {
  color: var(--acent-color);
}

.wrap-footer {
  margin-bottom: 9px;
}

.portfolio-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.button-navi {
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  background: var(--buttons-port-color);
  border-radius: 4px;
  line-height: 1.5;
  padding: 6px 22px;
}

.button-navi:hover,
.button-navi:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
}

.button-navi-all {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.section-third-area {
  width: 360px;
}

.section-third-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  line-height: 2;
}

.section-third-type {
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--ouwer-text-color);
  line-height: 1.9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}

.section-third-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

wrap-title {
  border: 1px soli var(--contener-color);
  padding: 20px 24px;
}
